.hero {
  display: flex;
  border: 1px solid #222a3a;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0 8%;
  height: 100vh;

  background:
    radial-gradient(
      900px 400px at 15% 20%,
      rgba(156, 1, 203, 0.18),
      transparent
    ),
    radial-gradient(
      700px 350px at 85% 80%,
      rgba(83, 18, 149, 0.22),
      transparent
    ),
    linear-gradient(135deg, #0e1524, #0b0f14);
}

.hero-content {
  flex: 1;
  min-width: 0px;
  padding: 30px;
}

.hero h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hero h1 span {
  background: linear-gradient(270deg, #de0893 10%, #b310ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-action {
  display: flex;
  gap: 30px;
}

.hero-connect,
.hero-resume {
  cursor: pointer;
  font-size: 20px;
  border-radius: 125px;
  border: 2px solid white;

  transition: all 0.25s;
}

.hero-connect {
  padding: 20px 25px;
  background: linear-gradient(90deg, #3c0177, #b400ea);
}

.hero-connect:hover {
  transform: scale(1.03);
  background: linear-gradient(90deg, #9c01cb, #531295);
  box-shadow: 0 0 25px rgb(170, 0, 255);
}

.hero-resume {
  border-color: #b310ff;
  color: rgb(204, 0, 255);
  padding: 20px 45px;
  background: rgb(255, 255, 255);
}

.hero-resume:hover {
  color: white;
  transform: scale(1.03);
  background: linear-gradient(90deg, #9c01cb, #531295);
  box-shadow: 0 0 25px rgb(170, 0, 255);
  border-color: white;
}

.hero-image {
  display: flex;
  flex: 1;
  justify-content: center;
}

.hero-image img {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px rgb(170, 0, 255);
}
