.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(33, 9, 52, 0.7);
    position: sticky;
    top: 0;
    z-index: 1100;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 55px; 
}

.nav-link {
  position: relative;

  transform: 0.15s;
}

.nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
    transform: scale(1.10);
    color: rgb(176, 40, 255);
}

.logo {
    font-weight: 600;
    font-size: 27px;
}

.logo span {
  background: linear-gradient(270deg, #bc18cb 10%, #c851ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-contact {
  font-size: 24px;
  position: relative;

  transition: 0.15s;
}

.nav-contact::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.nav-contact:hover::after {
  width: 100%;
}

.nav-contact:hover {
    transform: scale(1.10);
    color: rgb(176, 40, 255);
}